/.flatpak-builder/
/.venv/
/build-dir/
/dawn/
/dolphin/
/nod/
/repo/
/tmp*
/WheelWizard/
/Wiicompiled/
/flatpak-cargo-generator.py
/flatpak-dotnet-generator.py
/flatpak-pip-generator.py
/pyproject.toml
/uv.lock
