/.flatpak-builder/
/.venv/
/build-dir/
/nod/
/repo/
/tmp*
/WheelWizard/
/Wiicompiled/
/flatpak-cargo-generator.py
/flatpak-dotnet-generator.py
/flatpak-pip-generator.py
/io.github.TeamWheelWizard.WheelWizard.yaml.*
/pyproject.toml
/uv.lock
